#logoInfoImage {
    height: 25px;
    cursor: pointer;
}
div.dataset-name {
    cursor: pointer;
}
#infoButton {
    display: inline-block;
	position: relative;
	right: 145px;
}
.no-titlebar .ui-dialog-titlebar {
/*    display:none; */
}  
.ui-dialog-titlebar-close {
	display:none;
}
