#logoInfoImage {
    height: 25px;
    cursor: pointer;
}
div.dataset-name {
    cursor: pointer;
}
#infoButton {
	position: relative;
	right: 145px;
}
div.no-titlebar[aria-describedby="infoDialog"] > div.ui-dialog-titlebar {
	display: none;
}
  
.ui-dialog-titlebar-close {
	display:none;
}
